<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>UserList.jsf</welcome-file>
    </welcome-file-list>


    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>true</param-value>
    </context-param>

<!--    Evtl. kann man damit die shiro.ini aus der Webapp herausnehmen.-->
<!--    https://shiro.apache.org/web.html-->
<!--    <context-param>-->
<!--        <param-name>shiroConfigLocations</param-name>-->
<!--        <param-value>classpath:main/META-INF</param-value>-->
<!--    </context-param>-->


    <!--    <servlet-mapping>-->
    <!--        <servlet-name>Faces Servlet</servlet-name>-->
    <!--        <url-pattern>/faces/*</url-pattern>-->
    <!--        <url-pattern>/javax.faces.resource/*</url-pattern>-->
    <!--    </servlet-mapping>-->


    <!--    Das Framework geht somit von Anfang an davon aus, dass er Cookies mit einer ID zuweisen kann und versucht es nicht-->
    <!--    zunächst im Kompatibilitätsmodus über die URL Konkatenierung.-->


<!--    SESSION KONFIGURATION-->
    <listener>
        <listener-class>de.marcel.restaurant.web.jsfFramework.SessionListenerWithMetrics</listener-class>
    </listener>
<!--    Es darf nur ein Session Config Element geben?-->
<!--    <session-config>-->
<!--        <tracking-mode>COOKIE</tracking-mode>-->
<!--    </session-config>-->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>


<!--    SHIRO SECURITY KONFIGURATION -->

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
<!--        <filter-class>de.marcel.restaurant.web.security.ModifiedAuthenticationFilter</filter-class>-->
        <init-param>
            <param-name>configPath</param-name>
            <param-value>/WEB-INF/shiro.ini</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <!--    SSL fordern-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restaurant-web</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>